body {
  margin: 0%;
}

.background-color {
  background: linear-gradient(rgb(111, 75, 62), rgb(62, 39, 35));
}

.text {
  font-size: large;
  font-family: "Gill Sans", sans-serif;
  color: rgb(240, 234, 234);
}
.text .title {
  font-size: 4em;
  font-weight: bold;
}
.text .paragraph {
  text-align: justify;
}

.section .subject {
  background-color: rgb(64, 31, 19);
  background-color: #967468;
}

.s {
  border: solid;
}
