body {
    margin: 0%;
}

.background-color {
    background: linear-gradient(rgb(111, 75, 62), rgb(62, 39, 35));
}

.title {
    font-size: x-large;
    color: rgb(205, 194, 194);
}

.text {
    font-size: large;
    color: white;
}