body {
    margin: 0%;
}

.background-color {
    background: linear-gradient(rgb(111, 75, 62), rgb(62, 39, 35));
    // background: rgb(229, 224, 216);
}

.text {
    font-size: large;
    color: rgb(205, 194, 194);

    .title {
        font-size: 2em;
    }
}